[submodule "Bindings"]
	path = Bindings
	url = https://github.com/VendaGamer/FFmpegBindings.git
[submodule "Deps/BindingWrapperUtils"]
	path = Deps/BindingWrapperUtils
	url = https://github.com/VendaGamer/BindingWrapperUtils.git
[submodule "Deps/MiniAudioWrapper"]
	path = Deps/MiniAudioWrapper
	url = https://github.com/VendaGamer/MiniAudioWrapper.git
